body {
    background: cornflowerblue;
    padding: 0 2em;
}

h1  {
    color: bisque;
}

#tray {
    position: fixed;
    bottom: 25px;
    right: -320px;
}

#tray.open {
    right: 0;
    transition: ease-in .3s;
}

section.content {
    width: 300px;
    background: aliceblue;
    padding: 10px;
}

button.tray-toggle {
    position: absolute;
    top: 10px;
    left: -62px;
}

section.content form {
    display: flex;
    flex-direction: column;
}
